@font-face {
    font-family: 'DroidSerif';
    src: url(../assets/fonts/DroidSerif.ttf) format('truetype');
}
@font-face {
    font-family: 'DroidSerifBold';
    src: url(../assets/fonts/DroidSerif-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'LibreFranklin-Regular';
    src: url(../assets/fonts/LibreFranklin-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'LibreFranklin-Light';
    src: url(../assets/fonts/LibreFranklin-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'LibreFranklin-Bold';
    src: url(../assets/fonts/LibreFranklin-Bold.ttf) format('truetype');
}

body {
    background-color: #ffffff;
}

body, div, button, input, select, p {
    font-family: "LibreFranklin-Regular" !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: "DroidSerifBold" !important;
}
a {
    font-family: "LibreFranklin-Bold" !important;
}

.btn {
    font-family: "LibreFranklin-Bold" !important;
}

.text-primary {
    color: #aca36c !important;
}
.btn-default {
    color: #aca36c !important;
}

.btn.btn-primary {
    background-color: #aca36c!important;
    border-color: #aca36c!important;
}
.btn.btn-primary:hover {
    background-color: #ac9665 !important;
    border-color: #ac9665!important;
}
.navbar.navbar-default.navbar-static-top {
    height: 70px !important;
    margin-bottom: 0 !important;
}
.navbar {
    position: relative;
}
.navbar-brand.center {
    position: absolute;
    left: 50%;
    margin-left: -150px !important;  /* 50% of your logo width */
    display: block;
}
.navbar .navbar-nav>li {
    padding: 10px;
}

#headerImg {
    background: url(../assets/images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 65vh;
    position: relative;
}

#authImg {
    background: url(../assets/images/bg-auth.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90vh;
    width: 50%;
    position: relative;
    background-position: -250px;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #aca36c;
    z-index: 100;
    opacity: 0.8;
    height: 100%;
}

.auth-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #80763f;
    z-index: 100;
    opacity: 0.8;
    height: 100%;
}

#loginForm input {
    color: #ffffff;
}

.registration-text {
    position: absolute;
    top: 32%;
    left: 50%;
    color: #fff;
    z-index: 100;
    margin-left: -160px;
}
.registration-text h1 {
    font-size: 5em;
}

.registration-img {
    position: absolute;
    bottom: -20%;
    left: 50%;
    margin-left: -100px;
    z-index: 100;
    height:200px;
    width: 200px;
}

.cc-selector div {
    margin: 15px 0;
}

.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
}

.cc-selector .input-parent{
    border: solid 1px #aca36c;
    border-radius: 5px;
    padding: 15px 50px;
    width: 100%;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width: 100%;
    height: 100px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.masterCard{
    background-image:url(../assets/images/master.png);
}
.bancnet{
    background-image:url(../assets/images/bancnet.png);
}
.gcash{
    background-image:url(../assets/images/gcash.jpg);
}
.paypal{
    background-image:url(../assets/images/paypal.png);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    /* Set the fixed height of the footer here */
    height: 60px;
    z-index: 100;
}
.footer h6 {
    font-family: "LibreFranklin-Regular" !important;
}

.footer .social-icons i {
    margin: 15px 10px;
}
.footer a {
    font-family: "LibreFranklin-Bold" !important;
    color: #333;
}
